HOST=localhost
PORT=3000
ENV=development

#SUPABASE
SUPABASE_PROJECT_URL=
SUPABASE_PUBLISHABLE_KEY=sb_publishable
SUPABASE_SECRET_KEY=sb_secret
JWT_SECRET=secret

#DATABASE
DATABASE_URL=postgresql://user:password@host:port/postgres

#UTILITY
AVATAR_GENERATOR_BASE_URL=ui-avatars-com